/*@media only screen and (min-width: 500px) {
.header{
margin-left: 10px;
}
}*/

.container{
    margin-top: 120px;
}

.icon-nav{
    margin-left: 322px;
    top: -58px;
    color: white;
    font-size: 33px;
}

.pessoa-label{
    margin-top: 10px;
}

.btn-incluir{
    margin-bottom: 10px
}

.btn-salvar{
    margin-top: 10px;
}

.check-input{
    height: 20px;
    width: 15px;
}

.logo-senior{
    height: 45px;
    margin-left: 55px;
    margin: 15px 95px;
}

.header{
    background: #ced7d7;
    height: 85px;
}

.pveiculo-margin{
    padding-top: 5px
}

.logo{
    margin-top: 5px;
}

.style-radio{
    height: 20px;
    width: 15px;
}

.pager{
    width: 200px;
}

.padding-top{
    padding-top: 5px;
}

.margin-left{
    margin-left: 0px;
}

.style-p{
    margin-top: 5px;
}

.pagination-margin{
    margin-left: 18px;
}
