<div class="header-container">
    <header class="header navbar-fixed-top">
        <div class="logo">
            <a href="http://www.senior.com.br">
                <img src="http://www.senior.com.br/wp-content/themes/senior-2016/images/logo.svg" class="logo-senior" alt="Senior" height="70"/></a>
        </div>
        <span class="glyphicon glyphicon-align-justify icon-nav"></span>
    </header>
</div>
