<div class="row">
    <div class="col-md-12">
        <a href="#/incluir-pessoa" class="btn btn-primary btn-incluir">Incluir pessoa</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="checkinForm">
            <div class="panel panel-primary panel-novo-checkin">
                <div class="panel-heading">
                    <h3 class="panel-title">Novo check in</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="data-entrada">Data/hora de entrada</label>
                                <input type="date" ng-required="true" ng-model="checkin.dataEntrada" class="form-control data-entrada" name="data-entrada" id="data-entrada"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="data-saida">Data/hora de saída</label>
                                <input ng-required="true" type="date" ng-model="checkin.dataSaida" class="form-control data-saida" name="data-saida" id="data-saida"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pessoa">Pessoa</label>
                                <select ng-required="true" class="form-control" ng-model="checkin.pessoa" ng-options="pessoa.nome for pessoa in pessoas track by pessoa.documento">
                                    <option value="">Selecione a pessoa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valorGasto">Valor Gasto (Em Reais)</label>
                                <input type="number" ng-required="true" ng-model="checkin.valorGasto" class="form-control" name="valorGasto" id="valorGasto"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="checkin.possuiVeiculo" class="check-input" value="S">
                                    <p class="padding-top">Possui Veiculo</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="adicionarCheckin(checkin)" ng-disabled="checkinForm.$invalid" class="btn btn-primary btn-salvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Consultas</h3>
                </div>
                <div class="panel-body">
                    <div class="row margin-left">
                        <div class="col-md-12">
                            <input type="text" class="form-control buscar" ng-model="search" name="buscar" placeholder="Digite o que deseja procurar..." />
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Ação</th>
                                    <th class="col-md-2">Nome</th>
                                    <th class="col-md-2">Documento</th>
                                    <th class="col-md-2">Telefone</th>
                                    <th class="col-md-2">Data de entrada</th>
                                    <th class="col-md-2">Data de saída</th>
                                    <th class="col-md-1">Valor Gasto (R$)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="check in checkins | filter:search | startFrom: (pagination.currentPage-1)*pagination.pageSize | limitTo:pagination.pageSize">
                                    <td>
                                        <a href="javascript:;" ng-click="carregaChekin(check);" class="btn btn-primary">Editar</a>
                                    </td>
                                    <td>{{check.pessoa.nome}}</td>
                                    <td>{{check.pessoa.documento}}</td>
                                    <td>{{check.pessoa.telefone}}</td>
                                    <td>{{check.dataEntrada | date:'dd/MM/yyyy'}}</td>
                                    <td>{{check.dataSaida | date:'dd/MM/yyyy'}}</td>
                                    <td>{{check.valorGasto | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <ul uib-pagination total-items="(checkins | filter:search).length" ng-model="pagination.currentPage" items-per-page="pagination.pageSize" class="pagination-margin"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
