<div class="row">
    <div class="col-md-12">
        <a href="#/" class="btn btn-primary btn-incluir">Voltar para o check-in</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="incluirForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cadastro de pessoa</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nome">Nome</label>
                            <input type="text" ng-required="true" ng-model="pessoa.nome" class="form-control nome" name="nome" id="nome"/>
                        </div>
                        <div class="col-md-6">
                            <label for="telefone">Telefone</label>
                            <input type="number" ng-required="true"  ng-model="pessoa.telefone" class="form-control telefone" name="telefone" id="telefone"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="documento" class="pessoa-label">Documento</label>
                            <input type="number" ng-required="true" ng-model="pessoa.documento" class="form-control documento" name="documento" id="documento"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="adicionarPessoa(pessoa)" ng-disabled="incluirForm.$invalid" class="btn btn-primary btn-salvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
